.button {
    -fx-background-color: rgb(200, 200, 200);
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.2, 3, 3);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
}

.button: hover {
    -fx-background-color: rgb(230, 230, 230);
}